.Login{
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;

    .Paper{
        padding: 20px;

        .Input{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}